<div class="container">
    <div class="container">    
      <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-1 col-sm-7 col-sm-offset-10">                    
          <div class="panel panel-primary" >
                  <div class="panel-heading">
                      <div class="panel-title text-center"><i class="fa fa-sign-in" aria-hidden="true"></i> Insured Information</div>
                      <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                  </div>     
  
                  <div style="padding-top:30px" class="panel-body" >
  
                      <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                          
                      <form class="form-horizontal" action="" role="form">
                                  
                          <div style="margin-bottom: 25px" class="input-group col-sm-offset-1 col-sm-7">
                              CustomerName(English): <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                      <input id="email" type="text" class="form-control" name="email" value="" placeholder="username or email">                                        
                                  </div>
                              
                          <div style="margin-bottom: 25px" class="input-group col-sm-offset-1 col-sm-7">
                              Customer Name(Arabic): <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                      <input id="password" type="password" class="form-control" name="password" value=""  placeholder="password" >
                                  </div>
                                  <div style="margin-bottom: 25px" class="input-group col-sm-offset-1 col-sm-7">
                                      National ID / Iqama: <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                      <input id="password" type="password" class="form-control" name="password" value=""  placeholder="password" >
                                  </div>
                                  <div style="margin-bottom: 25px" class="input-group col-sm-offset-1 col-sm-7">
                                      Email: <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                      <input id="password" type="password" class="form-control" name="password" value=""  placeholder="password" >
                                  </div>
                                  <div style="margin-bottom: 25px" class="input-group col-sm-offset-1 col-sm-7">
                                      MobileNo:<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                      <input id="password" type="password" class="form-control" name="password" value=""  placeholder="password" >
                                  </div>
                                  
                                  
  
                              
                          